<div class="container mt-4">
<%= form_with model: Entity.new, url: group_entities_path(@group), method: :post do |form| %>
    <% if @entity.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h4>
        <ul>
          <% @entity.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="mb-3">
    <%= form.label :group_id, "Select Group" %>
    <%= form.collection_select :group_id, Group.all, :id, :name, prompt: "Select a group", class: "form-control" %>
  </div>
    <div class="mb-3">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control', required: true %>
    </div>

    <div class="mb-3">
      <%= form.label :amount, class: 'form-label' %>
      <%= form.number_field :amount, class: 'form-control', required: true %>
    </div>

    <div class="but">
      <%= form.submit "Create Entity" %>
    </div>
  <% end %>
</div>
