<div id="<%= dom_id group %>" class=" p-4 d-flex align-items-center table-bordered mb-2 justify-content-between bg-white">
    <div class="d-flex align-items-center">
      <p class="pr-2 pl-2">
        <%= link_to group_entities_path(group) do %>
          <%= image_tag group.icon, alt: 'Group Icon', style: 'width: 70px; height: 70px;' %>
        <% end %>
      </p>
      <p>
      <%= link_to group.name, group_entities_path(group) %>
    </p>
    </div>

<div>
<% total_amount = group.entities.sum(&:amount) %>
  <p><%= total_amount %>$</p>
</div>
</div>

