<div class="navBar d-flex justify-content-between">
<% if user_signed_in? %>
    <div>
      <%= link_to groups_path, class: "back-link text-white" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
    </div>
    
    <div>
      <h3>
        <% if defined?(@group) && @group.present? %>
          <%= @group.name %> <br>
        <% elsif request.path == groups_path %>
          Categories
        <% elsif defined?(@entity) && @entity.present? %>
          <%= @entity.name %>
        <% end %>
      </h3>
    </div>

    <div>
      <span class="menu-icon" onclick="toggleMenu()">☰</span>
      <%= button_to("Log Out", destroy_user_session_path, method: :delete, class: 'logout', id: 'logoutButton', style: 'display: none;') %>
    </div>

  <% else %>
    <div class="d-flex justify-content-center">
      <div class="text-left pr-3">
        <%= link_to splash_screen_index_path, class: "back-link text-white" do %>
          <i class="fas fa-arrow-left"></i>
        <% end %>
      </div>

      <div>
        <h3>
          <% if request.path == new_user_registration_path %>
            Sign Up 
          <% elsif request.path == new_user_session_path %>
            Sign In 
          <% end %>
        </h3>
      </div>
    </div>
  <% end %>
</div>

<script>
  function toggleMenu() {
    var menuIcon = document.querySelector('.menu-icon');
    var logoutButton = document.getElementById('logoutButton');

    if (menuIcon.style.display === 'none') {
      menuIcon.style.display = 'inline-block';
      logoutButton.style.display = 'none';
    } else {
      menuIcon.style.display = 'none';
      logoutButton.style.display = 'inline-block';
    }
  }
</script>
